    body{
      margin: 0;
      background-color: #000;
      position: relative;
    }
    .topbarred{
      background-color: #DF0F1D; 
      overflow: hidden; 
      padding: 0.5vw 2.6vw;
    }
#footer {
  background: #DF0F1D;
  width: 100%;
  clear: both;
  position: absolute;
  padding: 0px;
  margin: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {

  #footer {
    height: auto;
  }
 }
/* width */
::-webkit-scrollbar {
  width: 1.3vw;
  background-color: #000;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
  background: white; 
  /*border-radius: 10px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8505b; 
}
.eventry{
  color: black;
}
    .project-holder{
      background-color: black;
      padding: 1vw;
      margin: 2vw;
      padding-bottom: 5vw;
      overflow: hidden;
    }

    .white-title{
      color: white;
      font-size: 4vw;
      font-family:righteous,righteous,serif;
    }
     .project-image{
      width: 12vw;
      height: 12vw;
    }
    .container-project{ 
  float: right;
  width: 32%;
    }
    #rcorners1 {
  border-radius: 2.5vw;
  background: #8ecd91;
  padding: 20px; 
  margin-left:1vw;
  width: 17vw;
  height: 20vw; 
  margin-bottom:5vw; 
}
  #rcorners2 {
  border-radius: 2.5vw;
  background: #fbcb64;
  margin-right: 10vw;
  padding: 20px;
  height: 20vw;
  width: 17vw;
  margin-bottom:5vw; 
}
  #rcorners3 {
  border-radius: 2.5vw;
  background: #0fa9f4;
  padding: 20px;
  margin-right: 1vw;
  width: 17vw;
  height: 20vw;
  margin-bottom:5vw; 
}
  #rcornersdiscard1 {
  border-radius: 2.5vw;
  background: #B8B8B8;
  margin-left:1vw;
  padding: 20px;
  width: 17vw;
  height: 20vw;
  margin-bottom:5vw; 
}
#rcornersdiscard2 {
  border-radius: 2.5vw;
  background: #B8B8B8;
  padding: 20px;
  width: 17vw;
  height: 20vw;
  margin-bottom:5vw; 
}

#rcornersdiscard3 {
  border-radius: 2.5vw;
  background: #B8B8B8;
  padding: 20px;
  margin-right: 1vw;
  width: 17vw;
  height: 20vw;
  margin-bottom:5vw; 
}
.project-title{
  color: white; 
  font-family:righteous,righteous,serif;
  font-size: 2.3vw; 
  margin: 0;
}
.project-content{
  margin: 0;
  font-family:righteous,righteous,serif;
  color: black;
  font-size: 1.7vw;
  margin-bottom: 1.5vw;
}
.project-status{
  margin: 0;
  font-family:righteous,righteous,serif;
  color: black;
  font-size: 1.5vw;
}
    .topic{
      padding:1vw;margin:1vw; font-size: 3vw; font-family:righteous,righteous,serif; color: #e8505b;background-color: white;width: 27vw;
    }
    .content{
      margin:1vw; font-size: 2vw; font-family:righteous,righteous,serif; background-color:white; color: #14b1ab; padding: 1vw;
    }
    @media screen and (max-width: 600px) {
  .topic {
    font-size: 5.5vw;
    width: 60vw;
  }
}
   @media screen and (max-width: 600px) {
  .content {
    font-size: 4vw;
  }
}
   #titletext{
       padding: 1.4vw 1.6vw; 
  float: left; 
  color: white; 
  font-size: 4vw;
  vertical-align: middle;
  line-height:3vw; 
  font-family:righteous,righteous,serif;
    }
      @media screen and (max-width: 600px) {
  #titletext {
    font-size: 7vw;
  }
}
img.banner{
  height: 20vw;
  width: 80vw
}
    .nav{
      margin-right: 0.3vw; 
        padding: 1.4vw 1.6vw; 
        color:#000; 
        text-align: center;
        vertical-align: center;
        text-decoration: none; 
        font-size: 2.5vw;
        font-family:righteous,righteous,serif;
    }
        .navc{
      margin-right: 0.3vw; 
        padding: 1.4vw 1.6vw; 
        color:#000; 
        text-align: center;
        vertical-align: center;
        text-decoration: none; 
        font-size: 2.5vw;
        font-family:righteous,righteous,serif;
    margin-bottom: 20px;
    }
    .nav:hover{
      background-color: #fff;
    }
    .navc:hover{
      background-color: #fff;
    }
    @media screen and (max-width: 600px) {
  .nav:not(:first-child) {
    width: 50vw;

  }
}
    .navactive{
      margin-right: 0.3vw; 
      background-color: black; 
      color:white; 
        padding: 1.4vw 1.6vw;
        text-align: center;
        vertical-align: center;
        text-decoration: none; 
        font-size: 2.5vw;
        font-family:righteous,righteous,serif;
    }
    .navactive:hover{
      background-color: white;
      color:black;

    }
  #container {
    border-radius: 10px;
  display: flex;
  background-color: black;
margin: 1vw;
margin-right: 12vw;
margin-left: 12vw;
}

#center {
  position: absolute;
  margin: auto;
}
/* Remaining CSS is identical to original */
#p12 {
  display: flex;
  overflow: hidden;
  border-right: .15em solid orange;
  font-family:righteous,righteous,serif;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2vw;
  animation: typing 1.3s steps(10, end), blink-caret .75s steps(50, end) infinite;
}

#p12 {
  display: inline-flex;
}


/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}.navs{
   margin-right: 0.3vw; 
      background-color: #f9d56e;
        padding: 1.4vw 1.6vw;
        height: 12vw; 
        color:#000; 
        text-align: center;
        vertical-align: center;
        text-decoration: none; 
        font-size: 2.5vw;
        font-family:righteous,righteous,serif;
        visibility: hidden;
}
    .navb{
      margin-right: 0.3vw; 
      background-color: #f9d56e;
        padding: 1.4vw 1.6vw;
        height: 8vw; 
        color:#000; 
        text-align: center;
        vertical-align: center;
        text-decoration: none; 
        font-size: 2.5vw;
        font-family:righteous,righteous,serif;
        visibility: hidden;
    }


    .topnav {
        overflow: hidden; float: right; vertical-align: middle; line-height:11.6vw; font-size: 0;
}

.topnav a {
font-size: 2vw;
size: 5vw;
text-align: center;
vertical-align: middle;
top: 75%;
-ms-transform: translateY(-75%);
transform: translateY(20%);
line-height: 6.5vw;
}

.topnav .icon {
  display: none;
  text-align: center;
  margin-bottom: 2vw;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
    margin-top: 1vw;
    font-size: 5vw;
    color:#000;
  }
  .topnav a.icon {
    padding: 1vw;
    float: right;
    display: block;
  }
  .navactive{
    background-color:white;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
.topnav.responsive .icon {
    position: absolute;
    line-height: 0.1vw;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  #myTopnav{
    padding: 0;
    margin: -12px;
  }
  a.navactive{
    margin: 0;
    line-height:-12px;
  }
}